doctype html
html
  head
    title= title
    block styles
      link(rel='stylesheet', href='/stylesheets/style.css')
      link(rel='stylesheet', href='/stylesheets/index.css')
      script(src='react/dist/react.min.js')
      script(src='react-dom/dist/react-dom.min.js')
  body
    block content
